<div class="container home-container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
    	<!-- <div class="spacer-primary"></div>
    	<div class="spacer-primary"></div>
    	<div class="spacer-primary"></div>
    	<h1 class="text-align-center">What’s Your Name?</h1>
    	<form class="form-home">
    		<input class="full-name" type="text" placeholder="Full Name" />
    		<div class="submit"></div>
    	</form>
    </div> -->
     <h1>Non-Disclosure Agreement</h1>
    <div class="document">
    <p>CompanyZ, and Brian, agree:</p>

<p>CompanyZ may from time to time disclose to Brian certain confidential information or trade secrets generally regarding .</p>

<p>Brian agrees that it shall not disclose the information so conveyed, unless in conformity with this agreement. Brian shall limit disclosure to the officers and employees of Brian with a reasonable &quot;need to know&quot; the information, and shall protect the same from disclosure with reasonable diligence.</p>

<p>As to all information which CompanyZ claims is confidential, CompanyZ shall reduce the same to writing prior to disclosure and shall conspicuously mark the same as &quot;confidential,&quot; &quot;not to be disclosed&quot; or with other clear indication of its status. If the information which CompanyZ is disclosing is not in written form, for example, a machine or device, CompanyZ shall be required prior to or at the same time that the disclosure is made to provide written notice of the secrecy claimed by CompanyZ. Brian agrees upon reasonable notice to return the confidential tangible material provided by it by CompanyZ upon reasonable request.</p>

<p>The obligation of non-disclosure shall terminate when if any of the following occurs:</p>

<p>(a) The confidential information becomes known to the public without the fault of Brian, or;</p>

<p>(b) The information is disclosed publicly by CompanyZ, or ;</p>

<p>(c) a period of months passes from the disclosure, or;</p>

<p>(d) the information loses its status as confidential through no fault of Brian.</p>

<p>In any event, the obligation of non-disclosure shall not apply to information which was known to Brian prior to the execution of this agreement.</p>

<p>Jul 27, 2015</p>

<p>CompanyZ</p>

<p>Brian</p>
<div class="text-align-center">
	<a class="cupid-green">Cupid Green</a>
</div>
    </div>
  </div>
</div>

