<div class="container home-container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
    	<div class="enter-name">
    		<div class="spacers">
  				<div class="spacer-primary"></div>
  	    	<div class="spacer-primary"></div>
  	    	<div class="spacer-primary"></div>
	    	</div>
	    	<div class="step1">
		    	<h1 class="text-align-center">What’s Your Name?</h1>
		    	<form class="form-home">
		    		<input name="full-name" class="full-name" type="text" placeholder="Full Name" maxlength="40" autocomplete="off" />
		    		<div class="continue-btn"></div>
		    	</form>	
	    	</div>
    	</div>
    	<div class="step2">
        <a class="back-btn" href="/">Back</a>
        <h1>Non-Disclosure Agreement</h1>
        <div class="document">
          <div class="nda">
            <%= @nda.nda.html_safe %>
          </div>
          <div class="text-align-center"><a data-toggle="modal" data-target="#signaturePop" class="button-green" href="#"><i class="fa fa-pencil"></i> &nbsp;&nbsp;Sign this Document</a></div>
          <!-- Modal -->
          <div class="modal fade" id="signaturePop" tabindex="-1" role="dialog" aria-labelledby="signaturePopLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Sign this Document</h4>
                </div>
                <div class="modal-body">
                  <p class="hidden-xs sign-content">By clicking "Sign Document", you are creating a legally binding contract between the other party and yourself, or the entity you are authorized to represent.</p>
                  <form class="sigPad">
                    <div class="sig sigWrapper">
                      <div class="typed"></div>
                      <canvas id="canvas" class="pad signature" width="555"></canvas>
                      <input type="hidden" name="document_id" value="<%= @nda.id %>">
                      <input type="hidden" name="output" class="output">
                    </div>
                    <ul class="sigNav">
                      <li class="clearButton"><a href="#clear">Clear</a></li>
                    </ul>
  	              </div>
  	              <div class="modal-footer">
  	                <button type="submit" class="button-green sign sign-document-btn">Sign Document</button>
  	                <button type="button" class="btn btn-default sign" data-dismiss="modal">Close</button>
  	                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step3">
        <h1 class="text-align-center">Thank you for signing the document</h1>
        <div class="text-align-center"><a class="back-btn" href="/">Back to Home</a></div>
      </div>
    </div>
  </div>