body{
	background: $app-background-color;
}
.document{
	padding:30px;
	border:1px solid #aaa;
	background: #fff;
	position: relative;
}
//admin page
.edit-nda{
	position: absolute;
	top: 10px;
	left: 10px;
	max-width: 300px;
}
#nda_nda{
	width:100%;
	min-height: 500px;
}