
.text-align-left{
     text-align: left;
 }
 .text-align-center{
     text-align: center;
 }
 .text-align-right{
     text-align: right;
 }
 .spacer-primary{
     height:60px;
 }
 .spacer-secondary{
    height:40px;
 }
 .spacer-teritary{
     height:30px;
 }
 .margin-top-10{
    margin-top:10px;
 }

 /** Mobile View When window is smaller 767px  **/
 @media (max-width: 767px){
     .inline-desktop{
         display:block;
     }
     .spacer-primary{
         height:40px;
     }
     .spacer-secondary{
         height:30px;
     }
     .spacer-teritary{
         height:30px;
     }
     .text-mobile-align-left{
         text-align: left;
     }
     .text-mobile-align-center{
         text-align: center;
     }
     .text-mobile-align-right{
         text-align: right;
     }
 }


// Signature Pad //
.sigPad{
    width:1500px;
}
 
@media (max-width: 481px){
    .modal-footer{
        text-align: left !important;
    }        
}

.signature{
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #f9f9f9 url("https://docracyprod-13cb.kxcdn.com/public/images/sign_pattern.png") no-repeat 0 0;
    background-size: contain;
}

//modal popup css
.modal-content{
    width: 588px;
}
.modal-content.editnda{
    width: 100%;
    max-width: 700px;
}
.sign-content{
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 0px;
}
.modal-title{
    padding-bottom: 0;
}
.modal-header, .modal-footer{
    background: #f9f9f9;
}
.modal-body{
    background: #F6F6F6;
}
.sigNav{
    list-style: none;
    margin-left: 0px;
    padding-left:0px;
    li a{
        color:#333;
        text-decoration: underline;
        &:hover{
            color:#333;
            text-decoration: none;
        }
    }
}
.error{
    color:red;
    font-weight: 600;
}

//admin page tables
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
}
.dataTables_filter input{
    font-weight: 300;
    padding-left: 15px;
}
#signed_documents_filter{
    padding-bottom:10px;
}
table.dataTable {
    thead .sorting_asc{
        background-image:url(../images/sort_asc.png) !important;
    }
    thead .sorting_desc{
        background-image:url(../images/sort_desc.png) !important;
    }
    tbody td{
        padding: 10px 10px;
        border-bottom: 1px solid#ccc;
    }
    tr{
        &:hover{
            background: #e7e7e7;
        }
    }
}
