// Fonts
$font-default-size:													16px !important;
$font-default-family: 											'lato', 'helvetica', 'arial', 'sans-serif';
$font-default-color: 												#222222;
$font-default-weight: 											300;
$font-default-padding:											15px;

$font-h1-size:															4.375rem;
$font-h1-line-height:												5rem;
$font-h1-mobile-size:												3.125rem;
$font-h1-mobile-line-height:								3.625rem;

$font-p-size:																1rem;
$font-p-line-height:												1.5rem;

//App
$app-background-color:											#eef3f4 !important;

//Modal
$modal-header-footer-background-color:			#f9f9f9;
$modal-body-background-color:								#f6f6f6;
$modal-link-color:													#333;